<%= stylesheet_link_tag "main" %>
<table align = "center" class = "block">
<tr>
<td>
<%= form_tag("/users/create", method: "post") do %>
  <%= label_tag(:login, "Login:") %>
  <%= text_field_tag(:login) %>
<br>    
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
<br>
  <%= label_tag(:password, "Password confirmation:") %>
  <%= password_field_tag(:password_c) %>
<br>
  <%= submit_tag("Sign up") %>
<% end %>
</td>
</tr>
<tr>
<td>
<p><%= notice %></p>
</td>
</tr>
</table>